#last-nav-item {
    padding-right: 2em;
}

.bg-header {
    --bs-bg-opacity: 1;
    background-image: url("../res/Header_1.png");
    background-repeat: no-repeat;
    background-size: inherit;
}

.bg-header-fsm {
    --bs-bg-opacity: 1;
    background-image: url("../res/Header_2.png");
    background-repeat: no-repeat;
    background-size: inherit;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}

.feature-image {
    height: 350px;
}

.feature-text {
    padding-top: 2em;
}

.contact-text {
    padding-right: 0.5em;
}

.discord-box {
    color: white;
    /*background-color: #212529;*/
    background: #212529;
}

.discord-logo {
    height: 50px;
}

.discord-header {
    color: white;
}

.email-box {
    color: white;
    background-color: #212529;
}

.email-logo {
    height: 50px;
}

.email-header {
    color: white;
}

.table {
    border-color: #9B9D9E;
}

.donate-image {
    height: 50px;
}

.footer:hover {
    transition: 0.2s;
    --bs-text-opacity: 0.8;
}

.footer-color {
    background-color: rgba(0, 0, 0, 0.2);
}

.icon {
    color: white;
    font-size: 24pt;
}