.first-paragraph {
    width: 50%;
    min-width: 200px;
}

p {
    font-size: 14pt;
}

.img-fluid {
    max-height: 90%;
    min-width: 300px;
}

.table-border {
    margin-top:0;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    border-collapse: separate;
    border-spacing: 0;
}
.middle-element td {
    border: 1px solid #ddd;
    padding: 8px;
    border-left: 0;
    border-bottom: 0;
}

.middle-element td.right{
    border-right: 0;
}
.top-element th {
    padding: 12px 8px;
    text-align: left;
    background-color: #F9FAFB;
    color: black;
}

.top-element th.left {
    border-top-left-radius: 10px;
    border-style: solid;
    border-color: #ddd;
    border-right: 1px;
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
}

.top-element th.right {
    border-top-right-radius: 10px;
    border-style: solid;
    border-left:1px;
    border-color: black;
}



.bottom-element td{
    border: 1px solid #ddd;
    padding: 8px;
    border-left: 0;
    border-bottom: 0;
}

.bottom-element td.right{
    border-right: 0;
}
