# Git
.git
.gitignore
.gitattributes

# Node
node_modules
!node_modules/bootstrap-icons
npm-debug.log
package-lock.json

# Helm charts
chart/
charts/

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# CI/CD
.github/

# Documentation
README.md
*.md

# Misc
.env
.env.local
